<!-- Logon box -->
  <div id="login" class="container-fluid">
  <div class="row justify-content-center align-items-center" id="logon-box">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail" class="h5">Login</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailPasswordHelp" placeholder="example@email.com">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="emailPasswordHelp" placeholder="Password">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small class="form-text mt-0" id="checkboxText">Remember me</small>
            </label>
          </div>
          <small class="form-text" id="emailPasswordHelp">
            <a href="#">Forgot username or password?</a>
            <a href="#">
              <br>Not a member? Sign up now</a>
          </small>
        </div>
        <button type="submit" class="btn btn-primary" id="form-submit">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>