<div class="container-fluid" id="aboutMe">

  <div class="row">
    <div class="col-sm-2 offset-sm-2" style="background-color: lightblue">
      <img class="border border-dark d-block rounded mx-auto" id="profilePic" alt="Profile picture" src="{{ this.picture }}">

      <div class="row">
        <div class="col-sm-12 text-center" id="profileName">
          <h2>{{ this.name }}</h2>
        </div>
      </div>

      <hr>

      <div class="row" id="profileDesc">
        <div class="col-sm-12 text-center">
          <h2>Description</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo esse placeat voluptatum necessitatibus animi. Voluptates veniam
            consequatur recusandae totam voluptatum.
          </p>
          <h5>Interests</h5>
          <p *ngFor="let interests of this.focus">
            {{ interests }}
          </p>
          <h5>Nicknames</h5>
          <ul>
            <li *ngFor="let names of this.description">
              {{ names }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6 text-center" id="profileContent" style="background-color: white">
      <h1 class="border border-dark rounded d-block">Your videos</h1>

      <div class="row">
        <div class="col-sm-12 px-3">
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
        </div>
      </div> <!-- .row -->
    </div> <!-- .col --> 
  </div> <!-- .row --> 
  <div>
    <div class="row">
      <div class="col-sm-10 offset-sm-2">
        <h4>suggested stuff</h4>
      </div>
    </div>
  </div>
</div> <!-- #aboutMe -->