<div class="container-fluid" id="aboutMe">

  <div class="row">
    <div class="col-sm-4">
      <img class="border border-info mx-auto d-block rounded" id="profilePic" src="" alt="Profile picture">

      <div class="row">
          <div class="col-sm-12 px-4" id="profileName">
              <h2>{{ user?.name }} </h2>
            </div>
      </div>

      <div class="row" id="profileDesc">
        <div class="col-sm-12 px-4">
          <h2>About Me</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo esse placeat voluptatum necessitatibus animi. Voluptates veniam
            consequatur recusandae totam voluptatum.
          </p>
          <h5>Interests</h5>
          <p>Videographer</p>
          <h5>Nicknames</h5>
          <p>Thresh God</p>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-center" id="profileName">
      <h1 class="border border-primary rounded d-block">Your videos</h1>
      
      <div class="row">
        <div class="col-sm-12 px-3">
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
          <h2 class="border border-danger rounded">Video here</h2>
        </div>
      </div>
    </div>

    <div>
      <button class="btn btn-default mx-2" (click)="loadUser()">Click me bro</button>
      {{ profile | json }}
    </div>


  </div> <!-- .row --> 

</div> <!-- #aboutMe --> 