<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 px-0">
      <nav class="navbar navbar-light bg-light">

        <!-- All the navbar content to the left -->
        <div class="d-flex justify-content-start" id="navbar-left">
          <logo></logo>
        </div>

        <!-- All the navbar content to the right -->
        <div class="d-flex justify-content-end" id="navbar-right">
          <form class="form-inline justify-content-end">
            <input type="search" class="form-control" id="search-box" placeholder="Search">
            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <button class="navbar-toggler my-2" type="button" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" [ngStyle]="{ 'background-color': isExpanded ? 'lightgray' : 'white'}" (click)="toggle()" (blur)="!isMousedOver && isExpanded ? toggle() : isExpanded">
            <i class="navbar-toggler-icon"></i>
          </button>
        </div>

        <div [@slideInOut]="isExpanded" class="navbar-collapse" id="navbarText" [hidden]="!isExpanded">
          <ul class="navbar-nav">
            <li (click)="changeBG()" class="nav-item" (click)=toggle() (mouseenter)="toggleMouseEnter()" (mouseleave)="toggleMouseLeave()">
              <a routerLink="login" href="login" class="nav-link">Home</a>
            </li>
            <li class="nav-item" (click)=toggle() (mouseenter)="toggleMouseEnter()" (mouseleave)="toggleMouseLeave()">
              <a href="#" class="nav-link">Trending</a>
            </li>
            <li (click)="changeBG()" class="nav-item" (click)=toggle() (mouseenter)="toggleMouseEnter()" (mouseleave)="toggleMouseLeave()">
              <a routerLink="about" href="about" class="nav-link">About</a>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>